replicaCount: 1
revisionHistoryLimit: 1
image:
  repository: g5opex/project-dashboard
  tag: 1.2.24
  pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 200m
      memory: 300Mi
  readinessProbe: {}
  livenessProbe: {}
service:
  name: Node
  type: NodePort
  servicePort: 8083
hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  metrics:
    cpu:
      targetAverageUtilization: 70
    memory:
      targetAverageUtilization: 70
services:
base:
  enabled: false
  replicaCount: 1
  image:
    tag : v0.9.9
  weight: 100
istio:
  enabled: false
  weight: 100

