
$theme-colors: (
  'primary': #0b233f,
  'secondary': #7898ad,
  'tertiary': #e8513e,
  'tertiary-0': #e37f72,
  'quaternary': #eee23e,
  'success': #339698,
  'success-0': #8dc7cb,
  'success-1': #1d5774,
  'success-2': #017a68,
  'muted': #e6e9ec
);

$font-family-base: 'Noto Sans', sans-serif;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: true;
$bv-enable-table-stacked: true;

// BOOTSTRAP VARIABLES DECLARED ABOVE
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// OVERRIDES BELOW
.form-control {
  border-width: 2px;
  border-color: #8dc7cb;
}